<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.phorcys.center.db.mapper.SapItemRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.phorcys.center.db.entity.SapItemRecord">
        <id column="id" property="id" />
        <result column="batch_id" property="batchId" />
        <result column="item_code" property="itemCode" />
        <result column="description" property="description" />
    </resultMap>

</mapper>
